<h1>Places</h1>

<p>
  <a href="/places/new" class="btn btn-secondary">New Place</a>
</p>

<ul style="list-style-type: none; padding: 0; maring 0;">
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>


